{% extends "_layouts/base.html" %}
{% load static %}

{% block content %}
<!-- Breadcrumb -->
<section class="normal-breadcrumb set-bg" data-setbg="{% static 'img/normal-breadcrumb.jpg' %}">
  <div class="container text-center">
    <div class="normal__breadcrumb__text">
      <h2>Sign Up</h2>
      <p>Create a new account</p>
    </div>
  </div>
</section>

<!-- Signup Form -->
<section class="signup spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="login__form">
          <h3>Sign Up</h3>
          <form method="POST" novalidate>
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="input__item">
              {{ form.username }}
              <span class="icon_profile"></span>
            </div>
            <div class="input__item">
              {{ form.password1 }}
              <span class="icon_lock"></span>
            </div>
            <div class="input__item">
              {{ form.password2 }}
              <span class="icon_lock"></span>
            </div>
            <button type="submit" class="site-btn">Register</button>
          </form>
          <h5>Already have an account? <a href="{% url 'login' %}">Log In!</a></h5>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="login__social__links">
          <h3>Login With:</h3>
          <ul>
            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i> Facebook</a></li>
            <li><a href="#" class="google"><i class="fa fa-google"></i> Google</a></li>
            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i> Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
