{% load static %}
<!-- Header Section Begin -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'img/logo.png' %}" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="{% if request.path == '/' %}active{% endif %}">
                                <a href="{% url 'index' %}">Homepage</a>
                            </li>
                            <li class="{% if request.path == '/categories/' %}active{% endif %}">
                                <a href="{% url 'categories' %}">Categories <span class="arrow_carrot-down"></span></a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'categories' %}">Categories</a></li>
                                    <li><a href="{% url 'anime_details' 'naruto-shippuden' %}">Naruto</a></li>
                                    <li><a href="{% url 'anime_details' 'attack-on-titan' %}">Attack on Titan</a></li>
                                    <li><a href="{% url 'anime_details' 'demon-slayer' %}">Demon Slayer</a></li>
                                    <li><a href="{% url 'anime_watching' %}">Anime Watching</a></li>
                                    <li><a href="{% url 'blog_details' %}">Blog Details</a></li>
                                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                                    <li><a href="{% url 'login' %}">Login</a></li>
                                </ul>
                            </li>
                            <li class="{% if request.path == '/blog/' %}active{% endif %}">
                              <a href="{% url 'blog:blog_list' %}">Our Blog</a>
                            </li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="header__right">
                    <a href="#" class="search-switch"><span class="icon_search"></span></a>
                    <a href="{% url 'login' %}"><span class="icon_profile"></span></a>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header Section End -->
