<div class="popular__product">
    <div class="section-header">
        <div class="section-title">
            <h4>Popular Shows</h4>
        </div>
        <div class="btn__all">
            <a href="{% url 'catalog:categories' %}" class="primary-btn">View All <span class="arrow_right"></span></a>
        </div>
    </div>
    <div class="product-grid">
        {% for product in popular_products %}
            {% include "_sections/_product_card.html" with product=product %}
        {% endfor %}
    </div>
</div>