{% load static %}

<div class="recent__product">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="section-title">
                <h4>Recently Added Shows</h4>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="btn__all">
                <a href="{% url 'catalog:categories' %}" class="primary-btn">View All <span class="arrow_right"></span></a>
            </div>
        </div>
    </div>

    <div class="row">
        {% for product in recent_products %}
            <div class="col-lg-4 col-md-6 col-sm-6">
                {% include "_sections/_product_card.html" with product=product %}
            </div>
        {% endfor %}
    </div>
</div>