{% extends "_layouts/base.html" %}
{% load static %}
{% block content %}
<section class="blog spad">
  <div class="container">
    <div class="row">
      {% for article in articles %}
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="blog__item blog__highlighted set-bg"
             {% if article.image %}
               data-setbg="{{ article.image.url }}"
             {% else %}
               data-setbg="{% static 'img/blog/blog-1.jpg' %}"
             {% endif %}>
          <div class="blog__item__text">
            <p>
              <span class="icon_calendar"></span> {{ article.published_at|date:"d M Y" }}
              {% if article.is_recent %}
                <span class="badge">NEW</span>
              {% endif %}
            </p>
            <h4><a href="#">{{ article.title }}</a></h4>
            <p>{{ article.content|truncatewords:15 }}</p>
            <p class="author" style="margin-top: 8px;">
              <strong>
                {{ article.author.username }}
                {% if article.author.is_superuser %}
                  <span class="badge">ADMIN</span>
                {% endif %}
              </strong>
            </p>
            {% if article.tags.all %}
              <p class="tags">
                {% for tag in article.tags.all %}
                  #{{ tag.name }}{% if not forloop.last %} {% endif %}
                {% endfor %}
              </p>
            {% endif %}
          </div>
        </div>
      </div>
      {% empty %}
      <p class="text-white">No news articles found.</p>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
