{% extends "_layouts/base.html" %}
{% load static %}

{% block content %}

    {% include "_sections/hero.html" %}

    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    {% include "_sections/trending.html" %}
                    {% include "_sections/popular.html" %}
                    {% include "_sections/recent.html" %}
                    {% include "_sections/live.html" %}
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    {% include "_sections/sidebar.html" %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
